.books {
  background-color: #fff;
  border-radius: 25px;
  margin-top: 25px;
  padding: 25px 0;
}

.booksHead {
  margin: 0 0 0 25px;
  font-weight: normal;
  display: inline;
  font-size: 24px;
}

.booksSubHead {
  margin-left: 10px;
  font-size: 18px;
  color: #4f4f4f;
}

.bookList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.bookList::after {
  content: '';
  display: block;
  clear: both;
}

.bookListItem {
  position: relative;
  box-sizing: border-box;
  float: left;
  width: 462.5px;
  margin: 25px 0 0 25px;
  border-radius: 25px;
  overflow: hidden;
}

.bookLink {
  text-decoration: none;
  color: #000;
}

.bookLink:visited {
  text-decoration: none;
  color: #000;
}

.bookThumb {
  background-color: #f8f8f8;
}

.bookThumbImg {
  width: 100%;
  height: 600px;
  display: block;
}

.bookDetail {
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 25px;
  background-color: rgba(200, 200, 200, 0.9);
}

.bookListItem:hover .bookDetail {
  display: block;
}

.bookTitle {
  display: block;
  font-size: 22px;
  line-height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.author {
  display: block;
  margin-top: 15px;
  font-size: 20px;
  font-style: italic;
  text-align: right;
  line-height: 25px;
}

.publisher {
  display: block;
  margin-top: 10px;
  text-align: right;
  line-height: 20px;
  font-size: 16px;
}

.price {
  display: block;
  margin-top: 15px;
  font-size: 22px;
  line-height: 30px;
  font-style: normal;
}

.bookDescInfo {
  overflow-y: scroll;
  margin-top: 15px;
  height: 390px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.bookDescInfo::-webkit-scrollbar {
  display: none;
}

.description {
  margin: 0;
  white-space: pre-wrap;
  font-size: 16px;
  line-height: 24px;
}